<table class="display nowrap table table-bordered">
  <thead>
  <tr>
  <th>EID</th>
  <th>E-NAME</th>
  <th>ACTIONS</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of persons">
  <td>{{i.EID}}</td>
  <td>{{i.ENAME}}</td>

  <td><button type="button" id="delete" (click)="delete(i.id)" class="btn btn-info pull-right">Delete</button>
      <a [routerLink]="['/add', i.id,'sdds']" class="btn btn-info pull-right"> Edit33 </a>
      


      
  <button type="button" id="edit" (click)="edit(i.id)" class="btn btn-info pull-right">Edit</button></td>
  </tr>
  </tbody>
  <tfoot>
  </tfoot>
  </table>   